<div class="col-12 col-lg-4 mx-auto my-4 px-0 align-content-center">
    <img alt="my face" class="row m-auto img-fluid shadow-lg"
         src="{{ url_for('static', filename='images/photo.png') }}">

    <div class="figure-caption text-center pt-3">Pronouns: He/Him</div>
</div>
<div class="col-12 col-lg-8 ps-lg-5 m-auto">
    <div class="py-4 about-text">
        I'm a {{ age }} y.o. CS student at the University of Bologna in Italy, doing my Msc in Artificial Intelligence.
        I have been coding since I was 14, starting with C/Cpp, since they were part of my high school curriculum.
        I then expanded on what I was being taught and begun many small personal projects, starting with Pascal;
        as of today, I have experience, not just curricularly, in Python (mostly libraries such as Tensorflow or
        Keras), JavaScript, C#, CSS (specifically with Bootstrap 5) and HTML; furthermore, I've made many projects
        in the field of game development, using Unity and especially Godot, an open source game engine which
        I've used quite extensively.
    </div>
    <div class="row px-4 px-sm-0 justify-content-around">
        {% for image in about_logos %}
            <img class="col-6 col-sm-2 px-auto"
                 src="https://upload.wikimedia.org/wikipedia/commons/{{ image }}">
        {% endfor %}
    </div>
</div>