body {
    padding-top: 4.5rem;
    padding-bottom: 120px;
}

hr {
    border: none;
    opacity: 100%;
    background-color: white;
    width: 500px;
    margin: 20px auto;
}

.section-div {
    background: whitesmoke;
    margin: 10px 40px;
    border-radius: 8px;
}

.btn-social {
    display: inline-block;
    transition: transform .2s;
}

.btn-social:hover {
    transform: scale(1.1);
}

.animateOnLoad {
    animation: fadeIn 1s, slideUp .5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@keyframes slideUp {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 10px;
    }
}